*{
    margin:0;
    padding:0; 
  }

.searcher-container{
    width: 100%;
    height: 80px;
    display:flex;
    display: inline-block;
    padding-top: 10px;
    padding-left: 22px;
    position: relative;
    justify-content: space-between;

}

.icons-left{
    position: absolute;
    flex-direction: row;
    display: inline-flex;
}

.icon-bars{
    width: 15px;
    height: 17px;
    padding-top: 5px;
}

.icon-youtube{
    width: 30px;
    height: 30px;
    padding-left: 32px;
}

.logo-youtube p{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    display: inline-block;
    padding-left: 80px;

}

.searcher{
    width: 600px;
    height: 28px;
    border: solid gray 1px;
    display: inline-block;
    align-content: center;
}

.searcher p{
    font-family: 'Roboto', sans serif;
    font-size: 15px;
    justify-content: flex-start;
}