*{
    margin:0;
    padding:0; 
  }

.searcher-container{
    width: 100%;
    height: 80px;
    display:inline-flex;
    padding-top: 10px;
    padding-left: 22px;
}

.icons-left{
    width: 15px;
    height: 17px;
    padding-top:9px;
    left: 30px;
    padding-left: 10px;
}
.logo-youtube{
    display: flex;
    padding-top:7px;

}

.logo-youtube a{
    font-size: 17px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: black;
}

.logo-youtube i{
    width: 30px;
    height: 30px;
    padding-left: 32px;
}

.searcher{
    width: 600px;
    height: 38px;
    display: flex;
    right: 440px;
    padding-top:6px;
    padding-left: 180px;
}

.box-searcher{
    width: 570px;
    height: 29px;
    border: solid rgb(202, 202, 202) 1px;
    display: flex;
    align-items: center;
}

.box-searcher a{
    font-family: 'Roboto', sans serif;
    font-size: 15px;
    text-decoration: none;
    padding-left: 5px;
    color:grey;
}

.box-lens{
    width: 59px;
    height: 29px;
    border: solid rgb(202, 202, 202) 1px;
    border-left: none;
    left:572px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons-rigth{
    padding-top: 10px;
    width: 214px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding-left: 161px;
}

.box-one{
    width: 65%;
    float:left;
    display: inline-block;
    justify-content: center;
    margin-left: 40px;

}

.box-video{
    display:flex;
   }

.video-data{
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
}

.video-data a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans serif;
    font-size: 19px;
    font-weight:bold;
}

.video-data-lower{
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    display:inline-flex;
}

.visit-counter{
    width: 380px;
    height: 40px;
    display: flex;
}

.visit-counter a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 13px;
    font-weight:bold;
}

.likes-counter{
    width: 420px;
    height: 40px;
    display: flex;
    padding-left: 16px;
}

.icon-like{
    width:67px;
    height: 17px;
}

.likes-counter a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 13px;
    font-weight:bold;
}

.icon-dislike{
    width:67px;
    height: 17px;
    padding-left: 24px;
}

.icon-share{
    width:113px;
    height: 17px;
}

.icon-save{
    width:110px;
    height: 17px; 
}

.icon-dots{
    width:30px;
    height: 17px;
}

.box-two{
    background-color: yellow;
    width: 35%;
    float:right;
}


