*{
    margin:0;
    padding:0; 
  }

.searcher-container{
    width: 100%;
    height: 80px;
    display:inline-flex;
    padding-top: 10px;
    padding-left: 22px;
}

.icons-left{
    width: 15px;
    height: 17px;
    padding-top:9px;
    left: 30px;
    padding-left: 10px;
}
.logo-youtube{
    display: flex;
    padding-top:7px;

}

.logo-youtube a{
    font-size: 17px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: black;
}

.logo-youtube i{
    width: 30px;
    height: 30px;
    padding-left: 32px;
}

.searcher{
    width: 600px;
    height: 38px;
    display: flex;
    right: 440px;
    padding-top:6px;
    padding-left: 180px;
}

.box-searcher{
    width: 570px;
    height: 29px;
    border: solid rgb(202, 202, 202) 1px;
    display: flex;
    align-items: center;
}

.box-searcher a{
    font-family: 'Roboto', sans serif;
    font-size: 15px;
    text-decoration: none;
    padding-left: 5px;
    color:grey;
}

.box-lens{
    width: 59px;
    height: 29px;
    border: solid rgb(202, 202, 202) 1px;
    border-left: none;
    left:572px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons-rigth{
    padding-top: 10px;
    width: 214px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding-left: 161px;
}


.box-one{
    width: 63%;
    justify-content: center;
    margin-left: 33px;
    float: left;
    

}

.box-video{
    display:flex;
   }

.video-data{
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
}

.video-data a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans serif;
    font-size: 19px;
    font-weight:bold;
}

.video-data-lower{
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    display:inline-flex;
}

.visit-counter{
    width: 380px;
    height: 40px;
    display: flex;
}

.visit-counter a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 13px;
    font-weight:bold;
}

.likes-counter{
    width: 420px;
    height: 40px;
    display: flex;
    padding-left: 16px;
}

.icon-like{
    width:67px;
    height: 17px;
}

.likes-counter a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 13px;
    font-weight:bold;
}

.icon-dislike{
    width:67px;
    height: 17px;
    padding-left: 24px;
}

.icon-share{
    width:113px;
    height: 17px;
}

.icon-save{
    width:110px;
    height: 17px; 
}

.icon-dots{
    width:30px;
    height: 17px;
}

.data-author-container{
    width: 830px;
    height: 200px;
    margin-top: 5px;
    border: solid rgb(202, 202, 202) 1px;
    border-left: none;
    border-right: none;
    display: inline-block;
}

.data-author{
    width: 680px;
    height: 200px;
}

.icon-user-autor{
    display: inline-block;
}

.author{
    width: 820px;
    height: 50px;
    margin-top:20px;
    display: inline-flex;
    justify-content: space-between;
}

.author a{
    text-decoration: none;
    color: black;
    font-family:'Roboto', sans serif;
    font-size: 15px;
    font-weight:bold;
    display: inline-block;
}

.subscribe-button{
    width:118px;
    height: 35px;
    background-color: rgb(200, 13, 13);
    display:flex;
    justify-content: center;
    align-items: center;
}

.subscribe-button a{
    color: white;
}

.description-box{
    width: 680px;
    height: 118px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.description-box a{
    text-decoration: none;
    color: black;
    font-family:'Roboto', sans serif;
    font-size: 14px;
    font-weight:bold;
    line-height: 3em;
}

.top-comments{
    width: 830px;
    height: 50px;
    display:inline-flex;
    align-items: center;
}

.top-comments a{
    text-decoration: none;
    color: black;
    font-family:'Roboto', sans serif;
    font-size: 15px;
    font-weight:bold;
    margin-right: 37px;
}

.comments{
    width: 830px;
    height: 50px;
    align-items: center;  
}

.comments a{
    text-decoration: none;
    color: black;
    font-family:'Roboto', sans serif;
    font-size: 14px;
    font-weight:bold;
    margin-right: 37px;

}

.add-a-comment{
    width: 830px;
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.user1{
    width: 57px;
    height: 46px;
}

.message-comment{
    width: 773px;
    height: 24px;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 13px;
}

.comments-users{
    width:830px;
    line-height: 1.5em;
    padding-top: 10px;
    font-weight: bold;

}
.comment1{
    width: 800px;
    height: 100px;
    display: inline-flex;
}

.profile-photo{
    width: 52px;
    height: 53px;
}

.box-two{
    width: 32%;
    justify-content: center;
    float: right;
    margin-right: 30px;
    height: 450px;
}

.playlist-top{
    width: 425px;
    height: 30px;
    display:inline-flex;
}

.continue{
    width: 100px;
    height: 20px;
    display: flex;
}

.autoplay{
    width:300px;
    height:20px;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}

.playlist-top a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 15px;
    font-weight:bold;
}

.mode-on a{
    font-size: 13px;
}

.playlist{
    width: 425px;
    height: 130px;
    display:inline-flex;
    border-bottom: solid rgb(202, 202, 202) 1px;

}

.playlist a{
    text-decoration: none;
    color:gray;
    font-family:'Roboto', sans serif;
    font-size: 15px;
    font-weight:bold;
}

.video-description{
        width: 192px;
        height: 130px;
        display: flex;
        margin-left: 9px;
}

.video-description a{
    color: black;
}

.playlist-bottom{
    margin-top: 20px;
}
